html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

html, body {
    background-color: $white;
    color: #F8FAFC;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
fieldset {
    label {
        display: block !important;
        margin-bottom: 0.3rem !important;
    }
}

//form
.filelabel {
    width: 120px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 5px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.filelabel svg {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
    align-items: center;
}
.filelabel svg,
.filelabel .title-anexo {
  color: grey;
  transition: 200ms color;
}
.filelabel:hover {
  border: 2px solid #1665c4;
}
.filelabel:hover svg,
.filelabel:hover .title-anexo {
  color: #1665c4;
}
#FileInput{
    display:none;
}

.modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.btn-outline-info {
    color: rgba(3,92,148,0.85) !important;

    &:hover {
        color: $white !important;
        background-color: rgba(3,92,148,0.85) !important;
    }
}

.btn-primary {
    background-color: rgba(3,92,148,0.85) !important;

    &:hover {
        background-color: rgba(3,92,148,0.99) !important;
    }
}

.full-height {
    min-height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

ul {
    margin: 0!important;
}

li {
    list-style: none;
}

.btn-primary,
.btn-secondary,
.btn-success {
    color: $white !important;

    a {
        color: inherit;
        
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
}

// svgtens animados

.btn-anime {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-weight: normal;
    line-height: 1;
    margin: 20px;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  .btn-anime:hover, .btn:focus {
    color: rgba(3,108,166,0.85);
    outline: 0;
    text-decoration: none;
    font-weight: 400;
  }
  
  .anime-1 {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .anime-1:hover {
    background-color: rgba(255,255,255,0.6);
  }

  //// Form

.main-form-inscricao {
    background-color: #F8FAFC;
}

main {
    background-color: #F8FAFC;

}

input[type=file] {
    background-color: $white;
}

.input-group-prepend {
    svg {
        width: 16px;
    }
}

fieldset {
    background-color: $white;
}

/////////////////////////////////

footer {
    background-color: transparent;
}


////////// Font
.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.bg-white {
    background-color: $white;
}

.bg-light-grey {
    background-color: #f1f1f1;
}

.consulta-perfil {
    .foto-img {
        max-width: 180px !important;
        min-height: 220px !important;
        min-width: 180px;
        background: #ececec;
    }

    li {
        font-weight: bolder;

        span {
            font-weight: normal;
            font-size: 15px;
        }

        
    }
    li:first-child {
        span {
            font-size: 18px;
        }
    }
}

.is-hidden {
    display: none !important;
}

.box-aviso > div {
    background-color: #ececec;
}

span[data-msg-error] {
    position: absolute;
    bottom: -25px;
    left: 8px;
    color: $red;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

// p{
//     -webkit-animation: color-change 1s infinite;
//     -moz-animation: color-change 1s infinite;
//     -o-animation: color-change 1s infinite;
//     -ms-animation: color-change 1s infinite;
//     animation: color-change 1s infinite;
// }



@-webkit-keyframes color-change {
    0%, 40% { background-color: rgb(3,108,166); }
    60%, 100% { background-color: rgb(3,92,148); }
}
@-moz-keyframes color-change {
    0%, 40% { background-color: rgb(3,108,166); }
    60%, 100% { background-color: rgb(3,92,148); }
}
@-ms-keyframes color-change {
    0%, 40% { background-color: rgb(3,108,166); }
    60%, 100% { background-color: rgb(3,92,148); }
}
@-o-keyframes color-change {
    0%, 40% { background-color: rgb(3,108,166); }
    60%, 100% { background-color: rgb(3,92,148); }
}
@keyframes color-change {
    0%, 40% { background-color: rgb(3,108,166); }
    60%, 100% { background-color: rgb(3,92,148); }
}

* {
    box-sizing: border-box;
}